<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @client.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @client.last %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
